@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-600);
  --color-primary-hover: var(--color-indigo-700);
  
  --color-background-page: var(--color-slate-50);
  --color-surface: var(--color-white);
  --color-border-soft: var(--color-slate-200);
  
  --color-text-main: var(--color-slate-900);
  --color-text-muted: var(--color-slate-600);
  
  --color-success: var(--color-emerald-600);
  --color-warning: var(--color-amber-500);
  --color-error: var(--color-red-600);
}

body {
  background-color: var(--color-background-page);
  color: var(--color-text-main);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
